{
  "presets": ["@babel/preset-env", "@babel/typescript"],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-numeric-separator",
    "babel-plugin-transform-function-parameter-decorators",
    "babel-plugin-transform-typescript-metadata"
  ]
}
